# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.xcuserstate
xcuserdata/

# User-specific files
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# OS
.DS_Store

# Code coverage
*.gcno
*.gcda
*.info
